:root {

  --space-blue: rgb(7, 132, 242);
  --space-glass: rgb(7, 132, 242, .3);

  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 400;
  font-size: .85rem;
  color: blue;
  text-decoration: inherit;
  text-wrap: nowrap;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0 auto;
  padding: 2rem;
  min-width: 320px;
  min-height: 100vh;
  color: white;
  background-image: url("./assets/space-image.jpeg");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}



.main {
  overflow: auto;
}


hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #0e0d0d;
  margin: 1em 0;
  padding: 0;
}

.glass {
  border-radius: 5px;
  border-top: 1px solid rgba(217, 217, 217, 0.3);
  border-left: 1px solid rgba(139, 139, 139, 0.30);
  background-color: rgba(42, 42, 42, 0.5);
  box-shadow: 2px 2px 2px #2e2d2d;
  backdrop-filter: blur(1px);
}

.nav-bar {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

li {
  list-style-type: none;
}

.nav-item {
  margin-inline: 2rem;
}

.nav-link,
.nav-link:hover {
  color: rgb(7, 132, 242);
  font-size: 1.4rem;
  font-weight: bold;
}

.current-page,
.current-page:hover {
  font-size: 1.4rem;
  font-weight: bold;
  color: greenyellow;
}

.table-page-header {
  padding-inline: 1rem;
  padding-top: 1rem;
  padding-bottom: .1rem;
  margin-bottom: .2rem;
  background-color: var(--space-glass);
}

.table-title {
  line-height: 1.3rem;
}

table{
  margin: auto;
  width: 100%;
}

.main-table {
  position: relative;
}



.table-header {
  font-size: 1rem;
  padding: .5rem;
  opacity: .8;
  background-color: rgba(15, 244, 45, 0.5);
  box-shadow: 1px 1px 4px #57f608;
  font-size: 1.1rem;
  font-weight: bold;
}

.main-table-header {
  position: sticky;
  top: 0;
}

tr {
  max-height: 2rem;
  overflow-y: hidden;
}

td {
  color: white;
  background-color: black;
  opacity: .8;
  /* text-align: center; */
}



.rocket-name {
  text-wrap: nowrap;
  text-align: center;
}


button {
  border-radius: 8px;
  border: 4px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #d0cdcd;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: var(--space-blue)
}
/* button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
} */


.button {
  border-radius: 8px;
  border: 4px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #d0cdcd;
  cursor: pointer;
  transition: border-color 0.25s;
}
.button:hover {
  border-color: var(--space-blue)
}





.report-workspace {
  width: 100%;
  max-height: 50rem;
  display: grid;
  grid-template-columns: 35% 65%;
  overflow: hidden;
}


.report-form-container {
  height: fit-content;
}


.report-form {
  height: 100%;
  border-radius: 10px;
  padding-bottom: 1.5rem;
  padding-inline: 1.5rem;
  padding-top: .5rem;
}


input {
  line-height: 2rem;
  font-size: 1rem;
  margin: 1rem;
}

.page-container {
  margin: auto;
  text-align: center;
}


.stash-viewer {
  height: 100%;
  overflow-y: hidden;
}
.stash-viewer-buttons {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.stash-viewer-item-container {
  width: 100%;
  height: 100%;
}

.basic-details {
  width: 100%;

}


.details-container {
  width: 100%;
}


.details-top-container {
  display: grid;
  grid-template-columns: 40% 60%;
  overflow: hidden;
}
.details-summary {
  /* margin-top: 1.2rem; */
  padding: 1rem;
  width: 100%;
  /* min-height: 88%; */
  font-size: .8rem;
}



.links-container {
  height: 100%;
  width: 100%;
}

.link-label {
  line-height: 0;
  margin-top: 1rem;
  font-size: .8rem;
  ;
}

.links-list {
  height: 100%;
}

.link {
  line-height: .1;
  margin-top: 0;
  text-wrap: wrap;
}

.link-cell {
  color: white;
  width: 100%
}



.images-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}



.spaceX-image {
  margin: .7rem;
  width: 25%;
}


.error {
  color: red;
  font-size: 1rem;
  text-align: left;
}

.selections-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.toggle-container {
  width: 70%;
  margin: .5rem;
  border-radius: 10px;
  padding: 1rem;
}

.toggles {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.reports-list-container {
  display: flex;
  flex-wrap: wrap;
}


.reports-list-card {
  margin: auto;
  margin-top: .7rem;
  margin-bottom: .7rem;
  padding: 1rem;
  width: 25%;
  cursor: pointer;
  border: none;
}







.toggle-header {
  font-size: 1.5rem;
  line-height: 1.5rem;
}

.bulk-selectors-container {
  text-align: right;
}

.bulk-select {
  font-size: .8rem;
  font-weight: 100;
  cursor: pointer;
}
.selector-divider {
  line-height: 1.5rem;
  font-size: 1.5rem;
  font-weight: 1;
  vertical-align: bottom;
}

.filter-header {
  width: 70%;
  margin: .5rem;
  border-radius: 10px;
  padding: 1rem;
}


.filter-header-main {
  display: flex;
  justify-content: space-between;
  vertical-align: bottom;
}

.spacer {
  width: 7rem;
}

.fitler-header-title {
  color: rgb(7, 132, 242);
  vertical-align: bottom;
  font-size: 1.5rem;
  font-weight: bold;
}

.filter-button {
  border:4px solid var(--space-blue);
  background: transparent;
  color: rgb(100, 108, 255);
  padding: .2rem;
  padding-inline: 1rem;
  border-radius: 10px;
  height: 2.5rem;
  margin-top: 1rem;
}

.loading-container {
  border: 1px solid red
}


.loading-image-container {
  border: 1px solid blue
}

.empty-details {
  text-align: center;
  font-size: .8rem;
  font-weight: 100;
}

.details-cell {
  font-size: .9rem;
  text-align: left;
}


.pagination-controls {
  padding: 1rem;
  margin: auto;
  display: flex;
  justify-content: space-between;
}

.pagination-button {
  cursor: pointer;
}


.report-section {
  height: 100%;
}



.form-input {
  width: 20rem;
  color: white;
  background-color: black;
  border: 1px solid gray;
  border-radius: 10px;
  padding: .5rem;
  line-height: 1.2rem;

}

textarea {
  resize: none;
  height: 65%;
  width: 92%;
  background-color: black;
  overflow: auto;
  color: white;
  padding: 1rem;
  border-radius: 10px;
}

.form-submit {
  border:4px solid var(--space-blue);
  background: transparent;
  color: var(--space-blue);
  padding: .2rem;
  padding-inline: 1rem;
  border-radius: 10px;
  height: 2.5rem;
  cursor: pointer;
}






.details-summary-new-report-container{
  width: 100%;
}




.details-button-container {
  display: flex;
  justify-content: space-between;
  height: 5rem;
  width: 98%;
  padding-top: 1rem;
  padding-inline: 1rem;
}











.button-cell {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.stash-add,
.back-to-table {
  background: transparent;
  color:  var(--space-blue);
  border: 2px solid var(--space-blue);
  border-radius: 10px;
  height: 2rem;
  display: flex;
  place-items: center;
}


.stash-remove-button {
  background: transparent;
  color: red;
  border: 2px solid red;
  border-radius: 10px;
  height: 2rem;
  display: flex;
  place-items: center;
}



/* .details-summary-new-report {
  width: 96%;
} */

.report-header {
  padding-bottom: 1rem;
  padding-inline: 1rem;
}

.report-body {
  min-height: 10rem;
  padding: 1rem;
}

.stash-row {
  cursor: pointer;
}

.stash-row:hover,
.launch-row:hover,
.reports-list-card:hover{
  background-color: rgba(7, 132, 242, 0.4);
}


.report-list-header {
  padding-bottom: .4rem;
  padding-top: .2rem;
  padding-inline: 1rem;
  margin-bottom: 2rem;

}


.report-list-button-container {
  display: flex;
  justify-content: flex-end;
}



/* test */



/* "https://media1.giphy.com/media/l5JbspfwZ0yjHjlJ0K/giphy.gif" */